:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-background-color: #2F303A;
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #F5F4FA;
}

body {
background-color: #FFFFFF;
color: var(--primary-text-color);

font-family: 'Roboto',sans-serif;

}

/* Навигация */
.logo {
    color: black;
    text-decoration: none;

    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--accent-color);
}
.site-nav {
    list-style: none;
}
.site-nav .link {
    color: var(--title-text-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.contacts {
    list-style: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.contacts .link {
    color: rgba(117, 117, 117, 1);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
/* Секция Герой */
.hero {
    background-color: var(--accent-background-color);
    color: #FFFFFF;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
/* Секция Приемущесва */
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.section.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em 
}
.feature-list {
    list-style: none;
}
.feature-list .title {
    color: var(--title-text-color);
    text-transform: uppercase;
}
/* Секция Чем мы занимаемся */
.work-list {
    list-style: none;
}
/* Секция Наша команда */
.section.people {
    background-color: var(--second-bg-color);
}
.people-list {
    list-style: none;
}

.people-list .title {
    color: var(--title-text-color);
}
/* Подвал */
footer {
    background-color: var(--accent-background-color);
}
.address {
    color: #FFFFFF;
}
.address.link{
    color: rgba(255, 255, 255, 0.6);
}
/* Button */
.button {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-family: inherit;
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}
.example-title {
    color: var(--title-text-color);
}