:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-background-color: #2F303A;
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #F5F4FA;
}



.page {
background-color: #FFFFFF;
color: var(--primary-text-color)
}
ul {
    list-style: none;
}
/* site-nav */
.logo {
    color: black;
}
.logo-web {
    color: var(--accent-color);
}
.site-nav a {
    color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.contacts a {
    color: rgba(117, 117, 117, 1);
}
.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}
/* Секция Герой */
.hero {
    background-color: var(--accent-background-color);
    color: #FFFFFF;
}

/* Секция Приемущесва */
.section-title {
    color: var(--title-text-color);
}
.feature-list .title {
    color: var(--title-text-color);
}
/* Секция Чем мы занимаемся */
.work-list {

}
/* Секция Наша команда */
.section.people {
    background-color: var(--second-bg-color);
}
.people-list .title {
    color: var(--title-text-color);
}
/* Подвал */
footer {
    background-color: var(--accent-background-color);
}
address {
    color: #FFFFFF;
}
address a {
    color: rgba(255, 255, 255, 0.6);
}
a{
    text-decoration: none;
}

/* Button */
.button {
    color: #000;
    background-color: #fff;
    text-decoration: none;
}
.button.primary  {
    color: var(--primary-bg-color);
    background-color: var(--accent-color)
}
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
}
.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}